<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    		<mat-nav-list>
			   <a mat-list-item routerLink="/{{link.path}}" *ngFor="let link of links"> {{ link.label }} </a>
			</mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <!-- <p><button mat-button (click)="sidenav.toggle()">Menu</button></p> -->
    <p><button mat-fab color="warn" (click)="sidenav.toggle()"><i class="material-icons">menu</i></button></p>
    
  <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
<router-outlet></router-outlet>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->